<div class="user-inner-main">
  <div class="inner-head">
    <h2>i-Got Talent Requests</h2>
    <div class="inner-head-rt">
      <div class="custom-search-form">
        <input class="form-control pro-input-des" placeholder="Search..." type="text" [(ngModel)]="searchKey">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="getAll()">
            <img src="../../../../assets/img/main-search.svg">
          </button>
        </span>
      </div>
      <div class="custom-filter">
        <label class="pro-lbl-one">Filter By :</label>
        <div class="selectbox">
          <select class="form-control pro-input-des album-drop-down" [(ngModel)]="filterStatus"
            (change)="filterRecords()">
            <option value="" selected>All</option>
            <option value="1">Pending</option>
            <option value="2">In process</option>
            <option value="3">Rejected</option>
            <option value="4">Canceled</option>
            <option value="5">Completed</option>
            <option value="6">Postpone</option>
            <option value="7">Read</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-body">
    <!-- <div>
        <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
        muted="muted" (trackEnded)="onEnded($event)"
            [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider" 
            [expanded]="true"></ngx-audio-player>
    
    </div> -->
    <div class="bx-shadow-body text-center p-a-15 no-record-found-outer" *ngIf="dataList && dataList.length == 0">
      <p>No Record Found</p>
    </div>

    <div class="bx-shadow-body" *ngIf="dataList && dataList.length != 0">
      <div class="custom-table-outer">
        <table class="table" [svData]="dataList" #sv="svDataTable" [svRowsOnPage]="rowsOnPage">
          <thead>
            <tr>
              <th class="text-center">
                Request From
              </th>
              <th class="text-center">
                To Name
              </th>
              <th class="text-center">
                From Name
              </th>
              <th class="text-center">
                Talent Category
              </th>
              <th class="text-center">
                Instruction
              </th>
              <th class="text-center">
                Video Privacy
              </th>
              <th class="text-center">Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <tr *ngFor="let item of sv.data; let i = index">
              <td class="text-center">
                {{ item.senderData.fname_en }}
              </td>
              <td class="text-center">
                {{(item.toName) ? item.toName : '--'}}
              </td>
              <td class="text-center">
                {{item.fromName ? item.fromName : '--'}}
              </td>
              <td class="text-center">
                {{ item.talentCategory }}
              </td>
              <td class="text-center">
                {{ item.instruction }}
              </td>
              <td class="text-center">
                {{ (item.isPublic == true) ? 'Public' : 'Private' }}
              </td>
              <td class="text-center">
                <span *ngIf="item.status == 1">Pending</span>
                <span *ngIf="item.status == 2">In process</span>
                <span *ngIf="item.status == 3">Rejected</span>
                <span *ngIf="item.status == 4">Cancelled</span>
                <span *ngIf="item.status == 5">Completed</span>
                <span *ngIf="item.status == 6">Postpone</span>
                <span *ngIf="item.status == 7">Read</span>
              </td>
              <td class="text-center">
                <div class="cust-table-act-btns">
                  <span class="table-act-btn view" tooltip="View Booking" (click)="openModal2(viewModal,item)">
                    <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
                      xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path
                          d="m15 91c8.284 0 15-6.716 15-15v-46h46c8.284 0 15-6.716 15-15s-6.716-15-15-15h-61c-8.284 0-15 6.716-15 15v61c0 8.284 6.716 15 15 15z" />
                        <path
                          d="m15 512h61c8.284 0 15-6.716 15-15s-6.716-15-15-15h-46v-46c0-8.284-6.716-15-15-15s-15 6.716-15 15v61c0 8.284 6.716 15 15 15z" />
                        <path
                          d="m497 91c8.284 0 15-6.716 15-15v-61c0-8.284-6.716-15-15-15h-61c-8.284 0-15 6.716-15 15s6.716 15 15 15h46v46c0 8.284 6.716 15 15 15z" />
                        <path
                          d="m497 421c-8.284 0-15 6.716-15 15v46h-46c-8.284 0-15 6.716-15 15s6.716 15 15 15h61c8.284 0 15-6.716 15-15v-61c0-8.284-6.716-15-15-15z" />
                        <path
                          d="m256 361c57.897 0 105-47.103 105-105s-47.103-105-105-105-105 47.103-105 105 47.103 105 105 105zm0-180c41.355 0 75 33.645 75 75s-33.645 75-75 75-75-33.645-75-75 33.645-75 75-75z" />
                        <path
                          d="m256 301c24.813 0 45-20.187 45-45s-20.187-45-45-45-45 20.187-45 45 20.187 45 45 45zm0-60c8.271 0 15 6.729 15 15s-6.729 15-15 15-15-6.729-15-15 6.729-15 15-15z" />
                        <path
                          d="m76.023 342.381c50.592 43.433 113.077 78.619 179.977 78.619 66.903 0 129.389-35.19 179.977-78.619 44.516-38.216 72.029-76.003 73.179-77.593 3.793-5.246 3.793-12.332 0-17.577-1.149-1.59-28.663-39.377-73.179-77.593-50.592-43.432-113.077-78.618-179.977-78.618-66.903 0-129.389 35.19-179.977 78.619-44.516 38.216-72.029 76.003-73.179 77.593-3.793 5.246-3.793 12.332 0 17.577 1.15 1.589 28.664 39.377 73.179 77.592zm179.977-221.381c63.673 0 122.116 38.583 159.933 70.951 29.612 25.345 51.609 51.001 62.093 64.044-10.341 12.847-31.897 37.957-61.025 63.071-41.709 35.962-98.941 71.934-161.001 71.934-63.673 0-122.116-38.583-159.933-70.951-29.614-25.347-51.612-51.004-62.093-64.044 10.341-12.847 31.898-37.956 61.026-63.071 41.708-35.962 98.94-71.934 161-71.934z" />
                      </g>
                    </svg>
                  </span>
                  <!-- <span *ngIf="item.status == 1" class="table-act-btn accept" tooltip="Accept"
                    (click)="updateStatus(item,2)">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                      style="enable-background:new 0 0 512 512;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M437.019,74.98C388.667,26.629,324.38,0,256,0C187.619,0,123.331,26.629,74.98,74.98C26.628,123.332,0,187.62,0,256
                                    s26.628,132.667,74.98,181.019C123.332,485.371,187.619,512,256,512c68.38,0,132.667-26.629,181.019-74.981
                                    C485.371,388.667,512,324.38,512,256S485.371,123.333,437.019,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30
                                    s226,101.383,226,226S380.617,482,256,482z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M378.305,173.859c-5.857-5.856-15.355-5.856-21.212,0.001L224.634,306.319l-69.727-69.727
                                    c-5.857-5.857-15.355-5.857-21.213,0c-5.858,5.857-5.858,15.355,0,21.213l80.333,80.333c2.929,2.929,6.768,4.393,10.606,4.393
                                    c3.838,0,7.678-1.465,10.606-4.393l143.066-143.066C384.163,189.215,384.163,179.717,378.305,173.859z" />
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
                  </span> -->
                  <span *ngIf="item.status == 1" class="table-act-btn reject" tooltip="Reject"
                    (click)="openModal(template,item,3)">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                      style="enable-background:new 0 0 512 512;" xml:space="preserve">
                      <g>
                        <g>
                          <path
                            d="M493.297,159.693c-12.477-30.878-31.231-59.828-56.199-84.792c-24.965-24.969-53.917-43.723-84.795-56.2
                                    C321.421,6.22,288.611,0,255.816,0c-32.747,0-65.495,6.249-96.311,18.744c-30.813,12.491-59.693,31.244-84.603,56.158
                                    c-24.915,24.911-43.668,53.792-56.158,84.607C6.249,190.324,0,223.072,0,255.822c0,32.794,6.222,65.602,18.701,96.485
                                    c12.477,30.877,31.231,59.828,56.2,84.792c24.964,24.967,53.914,43.722,84.792,56.199c30.882,12.48,63.69,18.701,96.484,18.703
                                    c32.748,0,65.497-6.249,96.315-18.743c30.814-12.49,59.695-31.242,84.607-56.158c24.915-24.912,43.668-53.793,56.158-84.608
                                    c12.494-30.817,18.743-63.565,18.744-96.315C512,223.383,505.778,190.575,493.297,159.693z M461.611,339.66
                                    c-10.821,26.683-27.018,51.648-48.659,73.292c-21.643,21.64-46.608,37.837-73.291,48.659
                                    c-26.679,10.818-55.078,16.241-83.484,16.241c-28.477,0-56.947-5.406-83.688-16.214c-26.744-10.813-51.76-27.008-73.441-48.685
                                    C77.37,391.27,61.174,366.255,50.363,339.51c-10.808-26.741-16.214-55.212-16.213-83.689c-0.001-28.405,5.423-56.802,16.24-83.482
                                    c10.821-26.683,27.018-51.648,48.659-73.291c21.643-21.64,46.607-37.837,73.289-48.659c26.678-10.818,55.075-16.242,83.48-16.242
                                    c28.478,0,56.95,5.405,83.691,16.213c26.745,10.811,51.762,27.007,73.445,48.686c21.678,21.682,37.873,46.697,48.685,73.441
                                    c10.808,26.741,16.214,55.211,16.214,83.688C477.852,284.582,472.429,312.98,461.611,339.66z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M279.627,256.001l82.693-82.693c6.525-6.525,6.525-17.102,0-23.627c-6.524-6.524-17.102-6.524-23.627,0L256,232.375
                                    l-82.693-82.693c-6.525-6.524-17.102-6.524-23.627,0c-6.524,6.524-6.524,17.102,0,23.627l82.693,82.693l-82.693,82.693
                                    c-6.524,6.523-6.524,17.102,0,23.627c6.525,6.524,17.102,6.524,23.627,0L256,279.628l82.693,82.693
                                    c6.525,6.524,17.102,6.524,23.627,0c6.525-6.524,6.525-17.102,0-23.627L279.627,256.001z" />
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
                  </span>
                  <span *ngIf="item.status == 1" (click)="openModal3(postpone,item)" class="table-act-btn"
                    tooltip="Postpone"><i class="fas fa-calendar"></i></span>
                  <span *ngIf="item.status == 2" (click)="openModal(canceltemplate,item,4)" class="table-act-btn cancelled"
                    tooltip="Cancelled">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                      style="enable-background:new 0 0 512 512;" xml:space="preserve">
                      <g>
                        <g>
                          <path
                            d="M493.297,159.693c-12.477-30.878-31.231-59.828-56.199-84.792c-24.965-24.969-53.917-43.723-84.795-56.2
                                    C321.421,6.22,288.611,0,255.816,0c-32.747,0-65.495,6.249-96.311,18.744c-30.813,12.491-59.693,31.244-84.603,56.158
                                    c-24.915,24.911-43.668,53.792-56.158,84.607C6.249,190.324,0,223.072,0,255.822c0,32.794,6.222,65.602,18.701,96.485
                                    c12.477,30.877,31.231,59.828,56.2,84.792c24.964,24.967,53.914,43.722,84.792,56.199c30.882,12.48,63.69,18.701,96.484,18.703
                                    c32.748,0,65.497-6.249,96.315-18.743c30.814-12.49,59.695-31.242,84.607-56.158c24.915-24.912,43.668-53.793,56.158-84.608
                                    c12.494-30.817,18.743-63.565,18.744-96.315C512,223.383,505.778,190.575,493.297,159.693z M461.611,339.66
                                    c-10.821,26.683-27.018,51.648-48.659,73.292c-21.643,21.64-46.608,37.837-73.291,48.659
                                    c-26.679,10.818-55.078,16.241-83.484,16.241c-28.477,0-56.947-5.406-83.688-16.214c-26.744-10.813-51.76-27.008-73.441-48.685
                                    C77.37,391.27,61.174,366.255,50.363,339.51c-10.808-26.741-16.214-55.212-16.213-83.689c-0.001-28.405,5.423-56.802,16.24-83.482
                                    c10.821-26.683,27.018-51.648,48.659-73.291c21.643-21.64,46.607-37.837,73.289-48.659c26.678-10.818,55.075-16.242,83.48-16.242
                                    c28.478,0,56.95,5.405,83.691,16.213c26.745,10.811,51.762,27.007,73.445,48.686c21.678,21.682,37.873,46.697,48.685,73.441
                                    c10.808,26.741,16.214,55.211,16.214,83.688C477.852,284.582,472.429,312.98,461.611,339.66z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M279.627,256.001l82.693-82.693c6.525-6.525,6.525-17.102,0-23.627c-6.524-6.524-17.102-6.524-23.627,0L256,232.375
                                    l-82.693-82.693c-6.525-6.524-17.102-6.524-23.627,0c-6.524,6.524-6.524,17.102,0,23.627l82.693,82.693l-82.693,82.693
                                    c-6.524,6.523-6.524,17.102,0,23.627c6.525,6.524,17.102,6.524,23.627,0L256,279.628l82.693,82.693
                                    c6.525,6.524,17.102,6.524,23.627,0c6.525-6.524,6.525-17.102,0-23.627L279.627,256.001z" />
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
                  </span>
                  <span *ngIf="item.status == 2" class="table-act-btn completed" tooltip="Completed">
                    <svg (click)="openModal(completetemplate,item,5)" height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm129.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0"/></svg>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
              </td>
              <td colspan="3">
                <div class="custom-pagination-outer">
                  <pagination [totalItems]="totalRecords" [itemsPerPage]="rowsOnPage"
                    (pageChanged)="pageChanged($event)">
                  </pagination>
                </div>
              </td>
              <td colspan="3">
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #canceltemplate>
  <div class="modal-outer">
    <div class="modal-header">
      <h2 class="modal-title">Cancel Request</h2>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <img src="../../../assets/img/modal-close.svg">
      </button>
    </div>
    <div class="modal-body text-center del-popup">
      <div class="request-content">
        <div class="req-row">
          <div class="req-item">
            <label>Are you sure?</label>
            <span>Do you really want to cancel this request?</span>
          </div>
        </div>
        <div class="two-btn-group mt-3">
          <button type="button" class="project-btn-1 project-btn-secondary-color "
            (click)="cancelRequest(itemValue)">Ok</button>
          <button type="button" class="project-btn-1" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-outer">
    <div class="modal-header">
      <h2 class="modal-title">Reject Request</h2>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <img src="../../../assets/img/modal-close.svg">
      </button>
    </div>
    <div class="modal-body text-center del-popup">
      <div class="request-content">
        <div class="req-row">
          <div class="req-item">
            <label>Are you sure?</label>
            <span>Do you really want to reject this request?</span>
          </div>
        </div>

        <div class="req-row">
          <div class="req-item">
            <textarea [(ngModel)]="reject_reason" required></textarea>
            <p *ngIf="reasornError == true">Please enter the reject reason</p>
          </div>
        </div>
        <div class="two-btn-group mt-3">
          <button type="button" class="project-btn-1 project-btn-secondary-color " (click)="reject()">Ok</button>
          <button type="button" class="project-btn-1" (click)="closeModal()">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #viewModal>
  <div class="modal-outer">
    <div class="modal-header">
      <h2 class="modal-title">Request Details</h2>
      <button *ngIf="viewData.status == 1" type="button" class="project-btn-1 project-btn-2 project-btn-secondary-color" (click)="updateStatus(viewData,2)">Accept</button>
      <button type="button" class="close" aria-label="Close" (click)="closeModal2()">
        <img src="../../../assets/img/modal-close.svg">
      </button>
    </div>
    <div class="modal-body text-center del-popup">
      <div class="request-content">
        <div class="req-row">
          <div class="req-item">
            <label>Receipt Id</label>
            <span>{{viewData.receiptId}}</span>
          </div>
          <div class="req-item">
            <label>Booking Time</label>
            <span>{{viewData.bookingDateTime | date:'yyyy-M-d h:mm a'}}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item">
            <label>To</label>
            <span>{{viewData.toName}}</span>
          </div>
          <div class="req-item">
            <label>From</label>
            <span>{{viewData.fromName}}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item">
            <label>Talent Category</label>
            <span>{{viewData.talentCategory}}</span>
          </div>
          <div class="req-item">
            <label>Promo Code</label>
            <span>{{(viewData.promoCode != '') ? viewData.promoCode : '--' }}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item req-item-width">
            <label>Video URL</label>
            <span>{{viewData.talentVideo}}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item">
            <label>Language</label>
            <span>{{(viewData.language == 'en') ? 'English' : 'Arabic'}}</span>
          </div>
          <div class="req-item">
            <label>Video Privacy</label>
            <span>{{(viewData.isPublic == true) ? 'Public' : 'Private'}}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item">
            <label>Send to Friend</label>
            <span>{{(viewData.sendToFriend == true) ? 'Yes' : 'No'}}</span>
          </div>
          <div class="req-item">
            <label>Email</label>
            <span>{{viewData.email}}</span>
          </div>
        </div>
        <div class="req-row" *ngIf="viewData.status == 6">
          <div class="req-item">
            <label>Postpone Days</label>
            <span>{{viewData.postponeDays}} Days</span>
          </div>
          <div class="req-item">
            <label>Postpone Till</label>
            <span>{{viewData.postponeDate | date:'yyyy-M-d'}}</span>
          </div>
        </div>

        <div class="req-row" *ngIf="viewData.status == 3">
          <div class="req-item">
            <label>Reject Reason</label>
            <span>{{viewData.rejectReason}}</span>
          </div>
          <div class="req-item">
            <label></label>
            <span></span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item req-item-width">
            <label>Special Instruction for video</label>
            <span>{{viewData.instruction}}</span>
          </div>
        </div>

        <h5>Sender Details</h5>
        <div class="req-row">
          <div class="req-item">
            <label>Name</label>
            <span>{{viewData.senderData.fname_en}} {{viewData.senderData.lname_en}}</span>
          </div>
          <div class="req-item">
            <label>Email</label>
            <span>{{viewData.senderData.email}}</span>
          </div>
        </div>

        <h5>Payment Details</h5>
        <div class="req-row">
          <div class="req-item">
            <label>Service Fee</label>
            <span>${{viewData.serviceFee}}</span>
          </div>
          <div class="req-item">
            <label>Admin Fee</label>
            <span>${{viewData.adminFee}}</span>
          </div>
        </div>
        <div class="req-row">
          <div class="req-item">
            <label>Discount Fee</label>
            <span>${{viewData.discountAmount}}</span>
          </div>
          <div class="req-item">
            <label>Sub-Total Fee</label>
            <span>${{viewData.subTotalAmount}}</span>
          </div>
        </div>

        <div class="req-row">
          <div class="req-item">
            <label></label>
            <span></span>
          </div>
          <div class="req-item">
            <label>Total Paid Amount</label>
            <span>${{viewData.totalAmount}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #postpone>
  <div class="modal-outer">
    <div class="modal-header">
      <h2 class="modal-title">Postpone Request</h2>
      <button type="button" class="close" aria-label="Close" (click)="closeModal3()">
        <img src="../../../assets/img/modal-close.svg">
      </button>
    </div>
    <div class="modal-body text-center del-popup">
      <div class="request-content">
        <div class="req-row">
          <div class="req-item">
            <label>Are you sure?</label>
            <span>Do you really want to postpone this request?</span>
          </div>
        </div>

        <div class="req-row">
          <div class="req-item">
            <select class="form-control pro-input-des album-drop-down" [(ngModel)]="postponeDays">
              <option value="" selected>Select Days</option>
              <option value="1">1 Day</option>
              <option value="2">2 Day</option>
              <option value="3">3 Day</option>
              <option value="4">4 Day</option>
              <option value="5">5 Day</option>
              <option value="6">6 Day</option>
              <option value="7">7 Day</option>
            </select>
            <p *ngIf="postponeError == true" style="display: block">Please select the postpone days</p>
          </div>
        </div>
        <div class="two-btn-group mt-3">
          <button type="button" class="project-btn-1 project-btn-secondary-color "
            (click)="postponeSubmit()">Ok</button>
          <button type="button" class="project-btn-1" (click)="closeModal3()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #completetemplate>
    <div class="modal-outer">
      <div class="modal-header">
        <h2 class="modal-title">Complete Request</h2>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <img src="../../../assets/img/modal-close.svg">
        </button>
      </div>
      <div class="modal-body text-center del-popup">
        <div class="request-content">
          <div class="req-row">
            <div class="req-item">
              <label>Video</label>
              <div class="upload-media">
                  <input type="file" name="file" (change)="onVideoUpload($event)" accept="video/*"/>
                  <input type="file" id="fileUpload" name="fileUpload" style="display: none" />
                  Upload
              </div>
            </div>
          </div>
  
  
          <div class="req-row">
            <div class="req-item">
              <label>Comments</label>
              <textarea [(ngModel)]="completeRequest.comment" required></textarea>
              <!-- <p *ngIf="reasornError == true">Please enter the reject reason</p> -->
            </div>
          </div>
          <div class="req-row">
            <div class="req-item">
              <label>Rating</label>
              <star-rating value="{{completeRequest.rating}}" totalstars="5" checkedcolor="#D6006D" uncheckedcolor="#ced4da"
                size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
            </div>
          </div>
          <div class="two-btn-group mt-3">
            <button type="button" class="project-btn-1 update" (click)="complete()">Ok</button>
            <button type="button" class="project-btn-1 cancel" (click)="closeModal()">Cancel</button>
          </div>
  
        </div>
      </div>
    </div>
  </ng-template>