<div class="" id="page-wrapper">
  <div class="">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">
            <div class="db-hdd-1">
              <h2> {{ isEditable ? "Update" : 'Add' }} Page</h2>
            </div>
          </div>
          <div class="panel-body p-a-15 bx-shadow-white">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <form [formGroup]="frm" (submit)="save()" class="form-horizontal">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pro-lbl-one" for="form-control-1">Page Title in English<em>*</em></label>
                          <input class="form-control pro-input-des" id="fname" placeholder="Enter Page Title"
                            formControlName="title_en" maxlength="100" name="fname" required type="text">
                          <div *ngIf="frm.controls['title_en'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            Page title is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pro-lbl-one" for="form-control-2">Page Title in Arabic<em>*</em></label>
                          <input class="form-control pro-input-des" id="title_ar" placeholder="Enter page title"
                            formControlName="title_ar" #LastName maxlength="100" name="title_ar" type="text">
                          <div *ngIf="frm.controls['title_ar'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            Page title is required.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pro-lbl-one" for="form-control-1">Description in English<em>*</em></label>


                          <ckeditor formControlName="description_en"
                        
                          name="myckeditor"
                          required
                          [config]="ckeConfig" 
                          debounce="500" >
                </ckeditor>


                          <!-- <textarea class="form-control pro-input-des" formControlName="description_en" col="50"
                            placeholder="Enter Description" required></textarea> -->
                          <div *ngIf="frm.controls['description_en'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            Page description is required.
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="pro-lbl-one" for="form-control-1">Description in Arabic<em>*</em></label>
                          <ckeditor formControlName="description_ar"
                        
                          name="myckeditor"
                          required
                          [config]="ckeConfig" 
                          debounce="500" >
                </ckeditor>
                          <!-- <textarea class="form-control pro-input-des" formControlName="description_ar" col="50"
                            placeholder="Enter Description" required></textarea> -->
                          <div *ngIf="frm.controls['description_ar'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            Page description is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row text-right two-btn-group mt-4">
                      <div class="col-md-12">
                        <button class="project-btn-1 project-btn-secondary-color"
                          routerLink="/admin/pages">Cancel</button>
                        <button [disabled]="!frm.valid" class="project-btn-1">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>