
<div class="user-inner-main">
        <div class="inner-head">
          <h2>{{"headerMenu.change_pass" | translate}}</h2>
          <div class="inner-head-rt"></div>
        </div>
        <div class="inner-body">
                <form #profileForm="ngForm">
                    <div class="req-row">
                        <div class="req-item">
                                <label class="pro-lbl-one">{{"headerMenu.current_pass" | translate}}*</label>
                                <input type="password" class="form-control" [(ngModel)]="fan.currentpwd"
                                    placeholder='{{"headerMenu.current_pass_holder" | translate}}' minlength="8" maxlength="20"
                                    #password="ngModel" name="password" autocomplete="current-password" required>
                                <div *ngIf="password.errors" class="error-div">
                                    <div *ngIf="password.errors.required && password.touched"
                                        class="help-block requiredClass">
                                        Password is required.
                                    </div>
                                    <div *ngIf="password.errors?.minlength" class="help-block requiredClass">
                                        Password should contain at least 8 characters.
                                    </div>
                                </div>
                        </div>
                        <div class="req-item">
                                <label class="pro-lbl-one">{{"headerMenu.new_pass" | translate}}*</label>
                                <input type="password" class="form-control" [(ngModel)]="fan.password"
                                    placeholder='{{"headerMenu.new_pass_holder" | translate}}' minlength="8" maxlength="20"
                                    #newpassword="ngModel" name="newpassword" required>
                                <div *ngIf="newpassword.errors" class="error-div">
                                    <div *ngIf="newpassword.errors.required && newpassword.touched"
                                        class="help-block requiredClass">
                                        New Password is required.
                                    </div>
                                    <div *ngIf="newpassword.errors?.minlength" class="help-block requiredClass">
                                        New Password should contain at least 8 characters.
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="req-row">
                        <div class="req-item">
                                <label class="pro-lbl-one">{{"headerMenu.confirm_pass" | translate}}*</label>
                                <input type="password" class="form-control" [(ngModel)]="fan.confirmPassword"
                                    placeholder='{{"headerMenu.confirm_pass" | translate}}' minlength="8" maxlength="20"
                                    #confirmpassword="ngModel" name="confirmpassword" required
                                    [pattern]="newpassword.value">
                                <div *ngIf="confirmpassword.errors" class="error-div">
                                    <div *ngIf="confirmpassword.errors.required && confirmpassword.touched"
                                        class="help-block requiredClass">
                                        Confirm Password is required.
                                    </div>
                                    <div *ngIf="confirmpassword.touched && fan.confirmpassword != fan.newpassword"
                                        class="help-block requiredClass">
                                        Confirm Password should contain at least 8 characters.
                                    </div>
                                    <div *ngIf="confirmpassword.errors.pattern" class="help-block requiredClass">New
                                        Password & Confirm Password does not match.
                                    </div>
                                </div>
                        </div>
                       
                    </div>
                    <div class="d-flex justify-content-sm-start justify-content-between w-100 flex-nowrap">
                    <button class="project-btn-1 cancel" routerLink="{{cancelURL}}">{{"buttons.cancel" | translate}}</button>
                    <button class="project-btn-1 update" [disabled]="profileForm.invalid"
                        (click)="changePassword(profileForm)">{{"buttons.update" | translate}}</button>
                    </div>
                    </form>
        </div>
</div>
