<div class="thank-you">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contentWidget">
          <h2>{{'Hello!'}}</h2>
          <div class="logo-thanks">
              <img src="../../../../assets/images/footer-logo.jpg" class="img-fluid" alt="Logo" />
              <div class="thanks-text">
                <p>{{'Thank You!'}}</p>
                <h3>{{'for booking with starsin'}}</h3>
              </div>
          </div>
          <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>