@import "../my-booking.component.scss";
.brek-text{
    word-break: break-all;
}
.mat-calendar-body-cell.selected
{
  background-color:#1C00B9!important;
  border-radius: 50%;
  .mat-calendar-body-cell-content {color: #ffffff !important;}
}
.drop-calendar
{
  width:30rem
}
.zoomCall{
    margin-top: 200px;
}


table {
  margin-bottom: 20px;
  thead {
      background: none !important;
      th:first-child {
          border-radius: 10px 0 0 0;
      }
      th:last-child {
          border-radius: 0 10px 0 0;
      }
      th {
          border: 0 !important;
          background: #301152;
          color: #ffffff;
      }
  }
  td {vertical-align: middle; font-family: 'Myriad Pro Regular'; color: #301152 !important;}
}

.user-inner-main {
  padding: 100px 0;
  max-width: 90%;
  margin: 0 auto;
  .inner-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      h2 {
          font-size: 26px;
          font-weight: bold;
          color: #D6006D;
      }
      .inner-head-rt {
          display: flex;
          align-items: center;
          .custom-search-form {
              position: relative;
              margin-right: 20px;
              min-width: 240px;
              span.input-group-btn {
                  position: absolute;
                  top: 3px;
                  right: 5px;
              }
              .pro-input-des.form-control {
                  width: 100%;
                  height: 50px;
                  border-radius: 10px;
                  background: #f2f6ff;
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
                  line-height: 20px;
                  color: #301152;
                  font-family: "Myriad Pro Regular";
                  border: 0;
                  font-size: 14px;
                  padding: 0 15px;
              }
              @media(max-width:767px){
                span.input-group-btn {top:-2px}
                .pro-input-des.form-control {height:40px}
            }
          }
          .custom-filter {
              display: flex;
              align-items: center;
              white-space: nowrap;
              label {
                  font-size: 14px;
                  font-weight: 600;
                  color: rgba(48, 17, 82, 0.5);
                  display: flex;
                  align-items: center;
                  margin-bottom: 0px;
                  margin-right: 5px;
              }
              .selectbox {
                  position: relative;
                  display: flex;
                  overflow: hidden;
                  box-sizing: border-box;
                  font-weight: 400;
                  width: 100%;
                  height: 50px;
                  border-radius: 10px;
                  background: #f2f6ff;
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
                  line-height: 20px;
                  color: #666;
                  font-family: "Myriad Pro Regular";
                  border: 0;
                  padding: 0;
                  select {
                      flex: 1;
                      padding: 0 15px;
                      color: #301152;
                      height: 100%;
                      background: transparent;
                      cursor: pointer;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 20px;
                      border: 0;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      -ms-appearance: none;
                      appearance: none;
                  }
                  &::after {
                      content: "";
                      position: absolute;
                      top: 23px;
                      right: 15px;
                      cursor: pointer;
                      border-left: 4px solid transparent;
                      border-right: 4px solid transparent;
                      border-top: 4px solid #301152;
                      pointer-events: none;
                      transition: 0.25s all ease;
                  }
              }
              @media(max-width:767px){
                .selectbox {
                    height: 40px;
                &::after  {top:17px}
            }

        } 
          }
      }
  }
}
.custom-table-outer table {
  .table-act-btn {
      cursor: pointer;
      padding: 2px;
      background: none;
      border: 0;
      text-align: center;
      color: #545454;
      width: 37px;
      height: 35px;
      display: inline-block;
      border-radius: 0px;
      -webkit-border-radius: 2px;
      svg {
          height: 30px;
          width: 30px;
          fill: #301152;
      }
  }
  .view {
    svg {fill: #D6006D;}
    }   
  .blockedFan {
      svg {fill: #D6006D;}
  }
  .flaggedFan {
      svg {fill: #1C00B9;}
  }
  .reject {
      svg {fill: #545454;}
  }
}
.modal-header {
    h2 {
        font-size: 24px;
        color: #D6006D;
        font-weight: 600;
        padding: 5px 20px;
    }
}
.request-content {
    width: 100%;
    padding: 20px;
    text-align: left;
    h5 {
        margin: 20px 0;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid#ced4da;
    }
    .req-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .req-item {
            max-width: calc(50% - 10px);
            width: 100%;
            label {
                font-size: 14px;
                font-weight: 600;
                color: rgba(48, 17, 82, 0.5);
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            span {
                font-family: 'Myriad Pro Regular';
                font-size: 16px;
                color: #D6006D;
            }
        }
    }
}
.launch-btn {
    svg {
        fill: #d6006d !important;
    }
}
.disable-launch-btn{
    svg {
        fill: #7a7377 !important;
    }
}
.dot {
    height: 15px;
    width: 15px;
    //background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
.icebreakers{
    word-break: break-all;
}

.rating-col{ width:122px !important; margin: auto;}
.req-row label {
    font-size: 14px;
    font-weight: 600;
    color: rgba(48, 17, 82, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.req-row span {
    font-family: "Myriad Pro Regular";
    font-size: 16px;
    color: #D6006D;
}
@media(max-width:767px){
    .inner-head-rt{margin-top: 1rem;}
    .custom-search-form{min-width:auto !important;}
    .request-content{ padding:20px 0;}
    .request-content .req-row{ margin-bottom: 10px; }
    .request-content .req-row .req-item{ max-width: 100%;}
  
    
.request-content .req-row .req-item{padding:0 5px;}
.req-row .req-item span
{
    word-break: break-all;
}
.request-content .req-row .req-item span{ font-size: 14px;}


}