<div class="login-page-main-box">
    <div class="login-page-wrap">
        <div class="login-page-inside">
            <div class="login-page-logo"><a href=""><img src="assets/img/logo.png" alt="" /></a></div>
            <div class="login-page-white-box">
                <div class="login-page-hdd text-center">
                    <h3>FORGOT PASSWORD</h3>
                    <p>Enter your Register Email id</p>
                </div>
                <div class="login-page-body">
                    <form #forgotForm="ngForm">
                        <div class="form-group">
                            <label class="pro-lbl-one">Email</label>
                            <input type="email" placeholder="Email Address" class="form-control pro-input-des" required
                                maxlength="50" #Email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$"
                                [(ngModel)]="admin.email" name="email" />

                            <div *ngIf="Email.errors" class="error-div">
                                <div *ngIf="Email.errors.required && Email.touched" class="help-block requiredClass">
                                    Email is required.
                                </div>
                                <div *ngIf="Email.errors.pattern" class="help-block requiredClass">
                                    Please enter a valid email id.
                                </div>
                            </div>

                        </div>

                        <div class="login-btn-outer">
                            <button  type="button" class="project-btn-1 project-btn-full" [disabled]="forgotForm.invalid"
                            (click)="reset(forgotForm)"
                           >Submit</button>
                        </div>
                    </form>

                        <div class="or-devider-sinup">
                            <span>OR</span>
                        </div>

                        <div class="dont-have-account text-center">
                            <p routerLink="/admin/login">If you have an account! <button class="project-btn-1">Login</button></p>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
