@import '../../../../assets/scss/custom-variables.scss';

.login-page-main-box {min-height: 100vh;width: $full-width;background:url(../../../../assets/img/login-bg.jpg) no-repeat;background-size: cover;
    .login-page-wrap{display: flex;min-height: 100vh;justify-content: center;align-items: center;padding:20px;}
    .login-page-inside { max-width: 430px; margin: 0 auto;width: $full-width;}
    .login-page-white-box{box-shadow: 1px 5px 24px 0 rgba(0, 0, 0, 0.12);@include border-radius(4px); background: #fff;padding: 30px;}

    .login-page-logo{text-align: center;margin-bottom:20px;
        img{max-height: 65px;}
    }
    .login-page-hdd{margin-bottom: 25px;
        h3{font-size: $font-size-level-2;}
        p{color: $body-secondary-font-color;}
    }

    .forgot-psw-txt{text-align: right;
        p{cursor: pointer;
            &:hover{color: $theme-color;}
        }
    }

    .or-devider-sinup{text-align: center;position: relative;margin:25px 0;
        span{position: relative;@include HW(36px); background: #fff;border:1px solid $border-color;@include border-radius(50%); display: inline-block;z-index: 2;padding: 7px 0;text-align: center;font-size: $font-size-body;}
        &::after{position: absolute;width: $full-width;height: 1px;background: $border-color; content: "";left: 0;top: 50%;margin-top: -0.5px;}
    }

    .dont-have-account{color:$body-secondary-font-color;}

@include breakpoint(mobilemini){
    .login-page-white-box{padding: 20px;}
    .forgot-psw-txt{text-align: left;margin-top: 10px;}
}    

}