<div class="login-page" [@routerTransition]>

  <div class="login-left-pannel animated fadeInRight">
    <img src="../../../assets/images/forgot-password-circle.png" alt="forgot-password-circle" />
  </div>
  
  <div class="login-right-pannel">
    <div class="top-corner animated fadeInLeft"><img src="../../../assets/images/login-left-corner.png" alt="corner" /></div>
    <div class="from-frame">
      <div><img src="../../../assets/images/starsin-logo.png" alt="starsin"/></div>
      <h1 class="forgot-title">{{ 'Reset Password?' }}</h1>
      <p>{{ 'Please reset your password to login.' }}</p>
      <form [formGroup]="resetForm" class="form-validation" (submit)="resetPassword()">
        <div class="white-frame">
          <div class="form-field-frame forgot-form-field-frame">
            <mat-form-field>
              <input matInput formControlName="otp" required placeholder="{{ 'Confirmation Code' }}">
              <mat-error class="error" *ngIf="resetForm.controls['otp'].hasError('required') && isResetSubmited">{{"Verification code is required"}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="password" type="password" required placeholder="{{ 'Enter New Password' }}">
              <mat-error class="error" *ngIf="resetForm.controls['password'].hasError('required') && isResetSubmited">{{"Verification is required"}}</mat-error>
              <mat-error class="error" *ngIf="resetForm.controls['password'].hasError('minlength') && isResetSubmited">{{"Minimum 8 characters required"}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-field-footer">
          <!-- <div class="left"><a [routerLink]="['/login']">{{ 'Back to login' }}</a></div> -->
          <div class="right">
            <button mat-stroked-button>{{ 'Submit' }} <i class="icon-long-right-arrow"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Login Footer -->
  <div class="login-footer">
    <div>
      <a href="javascript:void(0);">{{'Privacy Policy'}}</a>
      <a href="javascript:void(0);">{{'Terms'}}</a>
      <a href="javascript:void(0);">{{'Contact us'}}</a>
      <span>&copy; {{'2019 starsin'}}</span>
    </div>
  </div>

</div>
