    <div class="thank-you">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contentWidget">
              <h2>Hello!</h2>
              <div class="logo-thanks">
                  <img src="../../../assets/img/main-logo.svg" class="img-fluid" alt="Logo" />
                  <div class="thanks-text">
                    <p>{{'Thank You for Verification!'}}</p>
                    <h3>{{'We are verifying your email'}}</h3>
                  </div>
              </div>
              <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>