<div class="db-hdd-1">
    <h2>Categories</h2>
  </div>
  
  <div class="search-and-btn-top">
    <div class="row custom-rw-btn-search-bottom ">
      <div class="col-md-4">
        <label class="pro-lbl-one">Search By :</label>
        <div class="custom-search-form">
          <input class="form-control pro-input-des" placeholder="Search..." type="text" [(ngModel)]="searchKey">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="getAll()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
  
      </div>
      <div class="col-md-4 col-lg-4 mt-md-0 mt-2">
       <label class="pro-lbl-one">Filter By :</label>
        <select class="form-control pro-input-des album-drop-down" [(ngModel)]="filterStatus" (change)="filterRecords()">
          <option value="" selected>All</option>
          <option value="activated">Activated</option>
          <option value="deactivated">Deactivated</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-4 mt-md-0 mt-3 text-right text-md-left">
        
        <button routerLink="add" class="project-btn-1 mr-2">Add New</button>
        <button (click)="downloadReport()" class="project-btn-1 project-btn-secondary-color">Download</button>
      </div>

      
    </div>
  
  </div>
  
  <div class="bx-shadow-white mt-4 mt-md-5">
    <div class="bx-shadow-hdd p-a-15">
      <h3>Listing</h3>
    </div>
    <div class="bx-shadow-body text-center p-a-15 no-record-found-outer" *ngIf="dataList && dataList.length == 0">
      <p>No Record Found</p>
    </div>
  
    <div class="bx-shadow-body " *ngIf="dataList && dataList.length != 0">
      <div class="custom-table-outer">
        <table class="table" [svData]="dataList" #sv="svDataTable" [svRowsOnPage]="20">
          <thead>
            <tr>
              <th class="text-center">
                Status
              </th>
              <th class="text-center">
                <sv-default-sorter by="category_name_en" (click)="sortBy('category_name_en')">Category Name English<i class="fa fa-sort" aria-hidden="true"
                    *ngIf="sortKey !== 'category_name_en'"></i></sv-default-sorter>
              </th>
              <th class="text-center">
                <sv-default-sorter by="category_name_ar" (click)="sortBy('category_name_ar')">Category Name Arabic <i class="fa fa-sort" aria-hidden="true"
                    *ngIf="sortKey !== 'category_name_ar'"></i></sv-default-sorter>
              </th>
              <th>Order</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <tr *ngFor="let item of sv.data; let i = index">
              <td class="text-center">
                <ui-switch class="project-cust-switch" (valueChange)="changeStatus(
                  item, $event)" color="#4be250" defaultBgColor="#f16565" checkedLabel="Activated"
                  [checked]="item.status" size="small" uncheckedLabel="Deactivated"
                  [tooltip]="item.status ? 'Deactivate' : 'Activate'">
                </ui-switch>
              </td>
              <td class="text-center">
                {{ item.category_name_en }}
              </td>
              <td class="text-center">
                {{ item.category_name_ar }}
              </td>
              <td>         
                <i *ngIf="i+1!==sv.data.length" class="fa fa-arrow-down" aria-hidden="true" (click)="updateOrder(item._id,item.order+1)"></i>  
                <i *ngIf="i!==0" class="fa fa-arrow-up" aria-hidden="true" (click)="updateOrder(item._id,item.order-1)"></i>
              </td>
              <td class="text-center">
                <div class="cust-table-act-btns">
                  <span class="table-act-btn" tooltip="List Celebrities"><i
                    class="fas fa-eye" [routerLink]="['list/'+item._id]"></i></span>
                  <span class="table-act-btn" tooltip="Edit"><i class="fas fa-edit" [routerLink]="['update/'+item._id]"></i></span>
                  <span class="table-act-btn" tooltip="Delete" (click)="openModal(template, item)"><i
                      class="fas fa-trash"></i></span>
                </div>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
      <div class="custom-pagination-outer pb-md-5 pb-4">
        <pagination [totalItems]="totalRecords" [itemsPerPage]="20" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
  
  <ng-template #template > 
    <div class="modal-outer">
      <div class="modal-header">
        <h2 class="modal-title">Delete Record</h2>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <img src="../../../assets/img/modal-close.svg">
        </button>
      </div>   
    <div class="modal-body text-center del-popup">
    <div class="request-content">
      <h5>Are you sure?</h5>
      <p>Do you really want to delete this record? </p>
      <div class="two-btn-group mt-3">
        
        <button type="button" class="project-btn-1 project-btn-secondary-color" (click)="closeModal()">Cancel</button>
        <button type="button" class="project-btn-1  " (click)="delete()">Ok</button>
    </div>
  </div>
  </div>
    </div>
  </ng-template>