<div class="modal-outer">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <img src="../../../assets/img/modal-close.svg">
  </button>
  <div class="modal-body">
    <div class="modal-left">
      <h2>{{"forgotPassword.forgot_pass"|translate}}</h2>
      <form [formGroup]="forgotForm" (submit)="forgotPassword()">
        <div class="form-group">
          <label>{{"login.email"|translate}}</label>
          <span class="auth-ini"><img src="../../../assets/img/user.svg"></span>
          <input type="email" placeholder="Email" name="email" formControlName="email"
            [ngClass]="{ 'is-invalid': isForgotSubmited && f.email.errors }" required maxlength="50"/>
          <div *ngIf="isForgotSubmited && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{"validations.email_require"|translate}}</div>
            <!-- <div *ngIf="f.email.errors.email">{{"validations.email_invalid"|translate}}</div> -->
            <div *ngIf="f.email.errors.pattern">{{"validations.email_invalid"|translate}}</div>

          </div>
        </div>
        <button type="submit">{{"buttons.submit"|translate}}</button>
      </form>
    </div>
    <div class="modal-right">
      <div class="modal-right-content">
        <img src="../../../assets/img/main-logo.svg">
        <p>{{"signup.popup_text"|translate}}</p>
      </div>
    </div>
  </div>
</div>