<div class="modal-outer">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <img src="../../../assets/img/modal-close.svg">
    </button>
    <div class="modal-body">
        <div class="service-modal-head">
            <div class="service-modal-left flex-shrink-0">
                <div class="celeb-head-img ">
                    <img [src]="dataList.image">
                </div>
                <div class="celeb-mask">
                    <img src="../../../../assets/img/celeb-profile/celeb-mask.png">
                </div>
            </div>
            <h1>{{"model_shoutout.shoutout_req" | translate}}
                <span *ngIf="selectedLang =='en'">{{dataList.fname_en}} {{dataList.lname_en}}</span>
                <span *ngIf="selectedLang =='ar'"> {{dataList.fname_ar ? dataList.fname_ar:dataList.fname_en}}
                    {{dataList.lname_ar ? dataList.lname_ar:dataList.lname_ar}} </span>
            </h1>
            <img src="../../../../assets/img/celeb-profile/service-type-s.svg" class="serv-type">
        </div>

        <div class="service-modal-content" *ngIf="isShowForm == true && isShowReview == false">
            <form [formGroup]="frm" class="form-horizontal">
                <div class="serv-row">
                    <div class="form-item">
                        <label class="main-lbl">To<span><img src="../../../../assets/img/info.svg"></span></label>
                        <div class="serv-modal-radio">
                            <div class="form-group">
                                <input (click)="someone_else()" id="role" type="radio" value="other"
                                    formControlName="videoFor" checked>
                                <label for="role"><span>{{"model_shoutout.someone_else" | translate}}</span></label>
                            </div>
                            <div class="form-group">
                                <input (click)="someone_else()" id="role1" type="radio" value="me"
                                    formControlName="videoFor">
                                <label for="role1"><span>{{"model_shoutout.me" | translate}}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="main-lbl">{{"model_shoutout.shout_lang" | translate}}<span>
                                <img src="../../../../assets/img/info.svg"></span></label>
                        <div class="serv-modal-radio" *ngIf="dataList.lang != 'both'; else both">
                            <div class="form-group" *ngIf="dataList.lang == 'ar'">
                                <input id="role4" type="radio" value="ar" formControlName="language">
                                <label for="role4"><span>{{"Arabic" |translate}}</span></label>
                            </div>
                            <div class="form-group" *ngIf="dataList.lang == 'en'">
                                <input id="role3" type="radio" value="en" formControlName="language">
                                <label for="role3"><span>{{"English" | translate}}</span></label>
                            </div>
                        </div>
                        <ng-template #both>
                            <div class="serv-modal-radio">
                                <div class="form-group">
                                    <input id="role4" type="radio" value="ar" formControlName="language">
                                    <label for="role4"><span>{{"Arabic" |translate}}</span></label>
                                </div>
                                <div class="form-group">
                                    <input id="role3" type="radio" value="en" formControlName="language">
                                    <label for="role3"><span>{{"English" | translate}}</span></label>
                                </div>
                            </div>
                        </ng-template>
                        <div *ngIf="frm.controls['language'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            {{"Please select Language" | translate }}
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item" *ngIf="frm.controls.videoFor.value != 'me'">
                        <div class="form-group">
                            <label class="main-lbl">To<span><img src="../../../../assets/img/info.svg"></span></label>
                            <input type="text" placeholder="" formControlName="toNewName" maxlength="100">
                        </div>
                        <!-- <div *ngIf="frm.controls['toNewName'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"model_shoutout.name_required" | translate}}
                            </div> -->
                    </div>
                    <div class="form-item" *ngIf="frm.controls.videoFor.value == 'me'">
                        <div class="form-group">
                            <label class="main-lbl">To<span><img src="../../../../assets/img/info.svg"></span></label>
                            <input type="text" placeholder="" formControlName="toName" maxlength="100">
                        </div>
                        <div *ngIf="frm.controls['toName'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            {{"model_shoutout.name_required" | translate}}
                        </div>
                    </div>

                    <div class="form-item" *ngIf="frm.controls.videoFor.value != 'me'">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.from" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            <input type="text" placeholder="" formControlName="fromName" maxlength="100"
                                [required]="frm.controls.videoFor.value != 'me'">
                            <div *ngIf="frm.controls['fromName'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"model_shoutout.from_name_required" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label>{{"common_model.occasion_date" | translate}} </label>
                            <p-calendar class="form-control pro-input-des dob-new-cal" formControlName="occasionDate"
                                placeholder="Select expire date" [minDate]="minDate" [maxDate]="maxDate"
                                [showIcon]="true">
                            </p-calendar>
                            <div *ngIf="frm.controls['occasionDate'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.required_error" | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-item t-switch">
                        <label class="main-lbl">{{extensionMsg.msg | translate}}<span><img
                                    src="../../../../assets/img/info.svg"></span></label>
                        <div class="toggle-switch">
                            <input type="checkbox" id="switch1" formControlName="isExtended" /><label
                                for="switch1">Toggle</label>
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.choose_occasion" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            <div class="selectbox">
                                <select formControlName="occasion" id="occasion"
                                    class="form-control pro-input-des album-drop-down">
                                    <option value="" disabled selected hidden>Select Occasion</option>

                                    <option [value]="item.occasion" *ngFor="let item of dropdownOccasion">
                                        {{item.occasion}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="frm.controls['occasion'].hasError('required') && isSubmited"
                            class="error-div help-block requiredClass">
                            {{"common_model.occasion_req" | translate}}
                        </div>
                    </div>

                    <div class="form-item" *ngIf="frm.controls.videoFor.value != 'me'">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.relationship" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            <div class="selectbox">
                                <select formControlName="relationShip" id="relation"
                                    class="form-control pro-input-des album-drop-down">
                                    <option value="" disabled selected hidden>Select Relationship</option>
                                    <option [value]="relationship.relation"
                                        *ngFor="let relationship of dropdownRelation"> {{relationship.relation}}
                                    </option>
                                </select>
                            </div>

                            <div *ngIf="frm.controls['relationShip'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.relation_req" | translate}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item custom-form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.msg_instruction" | translate}}
                                <span *ngIf="selectedLang =='en'">{{dataList.fname_en}} {{dataList.lname_en}}</span>
                                <span *ngIf="selectedLang =='ar'">
                                    {{dataList.fname_ar ? dataList.fname_ar:dataList.fname_en}}
                                    {{dataList.lname_ar ? dataList.lname_ar:dataList.lname_ar}}
                                </span>
                                <span><img src="../../../../assets/img/info.svg"></span></label>
                            <textarea placeholder="{{instructionMsg}}" formControlName="instruction" minlength="25"
                                maxlength="300"></textarea>
                            <span class="txtarea-span"> {{"model_shoutout.max_word" | translate}}
                                <span *ngIf="selectedLang =='en'"> {{dataList.fname_en}} {{dataList.lname_en}} </span>
                                <span *ngIf="selectedLang =='ar'">
                                    {{dataList.fname_ar ? dataList.fname_ar:dataList.fname_en}}
                                    {{dataList.lname_ar ? dataList.lname_ar:dataList.lname_ar}}
                                </span>
                                {{"common_model.speak_only" | translate}}
                                <span *ngIf="dataList.lang == 'ar'">arabic</span>
                                <span *ngIf="dataList.lang == 'en'"> english </span>
                                <span *ngIf="dataList.lang == 'both'"> arabic or english </span>
                                {{"common_model.write_inst" | translate}}
                                <span *ngIf="dataList.lang == 'ar'">arabic</span>
                                <span *ngIf="dataList.lang == 'en'">english</span>
                                <span *ngIf="dataList.lang == 'both'"> arabic or english </span>
                            </span>
                            <div *ngIf="frm.controls['instruction'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.inst_required" | translate}}
                            </div>
                            <div *ngIf="frm.controls['instruction'].hasError('minlength') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.error_msg2" | translate}}
                            </div>
                            <div *ngIf="frm.controls['instruction'].hasError('maxlength') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"model_shoutout.error_msg3" | translate}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.your_email" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            <input type="text" placeholder="" formControlName="email" maxlength="150"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$">
                            <div *ngIf="frm.controls['email'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.error_emailreq" | translate}}
                            </div>
                            <div *ngIf="frm.controls['email'].hasError('email')  && frm.controls['email'].value != ''"
                                class="error-div help-block requiredClass">
                                {{"Invalid Email"}}
                            </div>
                        </div>
                    </div>
                    <div class="form-item t-switch">
                        <label class="main-lbl">{{"common_model.private_video" | translate}}<span><img
                                    src="../../../../assets/img/info.svg"></span></label>
                        <div class="toggle-switch">
                            <input type="checkbox" id="switch" formControlName="isPublic" /><label
                                for="switch">Toggle</label>
                        </div>
                    </div>
                </div>
                <div class="serv-row" *ngIf="frm.controls.videoFor.value != 'me'">
                    <div class="form-item custom-padd">
                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1"
                            (click)="sendToFriend()" formControlName="sendToFriend">
                        <label for="styled-checkbox-1">{{"model_shoutout.send_video_directly" | translate}}</label>
                    </div>
                </div>
                <div class="serv-row" *ngIf="frm.controls.sendToFriend.value == true">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.friend_email_add" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            <input type="text" placeholder="" formControlName="friendEmail" maxlength="150">
                            <div *ngIf="frm.controls['friendEmail'].hasError('required') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"common_model.error_emailreq" | translate}}
                            </div>
                            <div *ngIf="frm.controls['friendEmail'].hasError('pattern') && isSubmited"
                                class="error-div help-block requiredClass">
                                {{"Invalid Email"}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pay-info">
                    <a href="#" class="promo-trigger"
                        (click)="showCoupon()">{{"common_model.promo_code" | translate}}</a>
                    <div *ngIf="applyCouponDiv == 'true'">
                        <div class="couponList row">
                            <h4 class="col-md-12">{{"common_model.available_coupon" | translate}} </h4>
                            <div class="coupons" *ngIf="applyCodeButton == 'false'">
                                <span *ngFor="let item of couponList; let i = index">
                                    <a class="apply-coupon"> {{ item.promocodes[0].code }} </a>
                                </span>
                                <input type="text" name="couponcode" class="form-control" style="margin: 0 2px 0 1rem;"
                                    formControlName="promoCode">
                                <button (click)="applyCode(frm.controls.promoCode.value)"
                                    class="button btn btn-primary">{{"buttons.apply" | translate}}</button>
                            </div>

                            <div class="coupons" *ngIf="applyCodeButton == 'true'">
                                <span *ngFor="let item of couponList; let i = index">
                                    <span *ngIf="item.promocodes[0].code == appliedCode" class="applied-coupon">
                                        {{ item.promocodes[0].code }} </span>
                                    <span *ngIf="item.promocodes[0].code != appliedCode" class="disabled-code">
                                        {{ item.promocodes[0].code }} </span>
                                    <button *ngIf="item.promocodes[0].code == appliedCode" type="button"
                                        (click)="removeCode(item.promocodes[0].code)" class="remove-coupon">
                                        <img src="../../../assets/img/remove.png">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p>{{"common_model.what_heppenes_msg" | translate}}<span><img
                                src="../../../../assets/img/info.svg"></span></p>
                    <p>
                        {{"common_model.term_condition" | translate}} <a
                            href="">{{"common_model.termOfService" | translate}}</a> and
                        <a href="">{{"footer.privacy_link" | translate}}</a>
                        {{"common_model.termOfServie2" | translate}}
                    </p>
                    <div class="serv-row">
                        <div class="form-item custom-padd">
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox"
                                formControlName="stayUpdated">
                            <label for="styled-checkbox-2">{{"common_model.aggrement_msg" | translate}}
                            </label>
                        </div>
                    </div>

                    <div class="pay-action">
                        <button (click)="showReview()" type="submit">{{"buttons.confirm" | translate}}</button>
                        <span>
                            <img src="../../../../assets/img/secure-payment.svg">
                            {{"common_model.ssl_msg" | translate}}
                        </span>
                    </div>
                    <!-- <div class="serv-modal-offer">
                        GIFT FREE STARSIN POINTS TO A FRIEND!
                        <span><img src="../../../../assets/img/info.svg"></span>
                    </div>
                    <div class="serv-modal-tips">
                        <h4>Tips for Best Results</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div> -->
                </div>
            </form>
        </div>

        <div class="service-modal-content reviewForm" *ngIf="isShowReview == true">
            <form [formGroup]="frm" (submit)="showReview()" class="form-horizontal">
                <div class="serv-row">
                    <div class="form-item">
                        <label class="main-lbl">To</label>
                        <div class="serv-modal-radio">
                            {{ (reviewData.videoFor == 'other')? 'Someone Else': 'Me' }}
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="main-lbl">{{"model_shoutout.shout_lang" | translate}}<span><img
                                    src="../../../../assets/img/info.svg"></span></label>
                        <div class="serv-modal-radio">
                            <!-- {{ reviewData.language }} -->
                            <span *ngIf="reviewData.language == 'ar'">Arabic</span>
                            <span *ngIf="reviewData.language == 'en'">English</span>

                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.to" | translate}}</label>
                            {{ reviewData.toName }}
                        </div>
                    </div>

                    <div class="form-item" *ngIf="frm.controls.videoFor.value != 'me'">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.from" | translate}}</label>
                            {{ reviewData.fromName }}
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.occasion_date" | translate}} </label>
                            {{ reviewData.occasionDate | date }}

                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{extensionMsg.msg}}</label>
                            {{ reviewData.isExtended | yesNo }}
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.choose_occasion" | translate}}</label>
                            {{ reviewData.occasion }}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.relationship" | translate}}</label>
                            {{ reviewData.relationShip }}
                        </div>

                    </div>
                </div>
                <!-- this is the row for the payment summary -->
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">Sub Total Amount</label>
                            ${{reviewData.subTotalAmount }} USD
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">Discount Amount</label>
                            ${{reviewData.discountAmount }} USD
                        </div>

                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">Total Amount To Pay</label>
                            ${{reviewData.totalAmount }} USD
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">Service Fee</label>
                            ${{reviewData.serviceFee }} USD
                        </div>

                    </div>
                </div>


                <!-- this is the end of the payment sunmmary -->

                <div class="serv-row">
                    <div class="form-item custom-form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.msg_instruction" | translate}}<span
                                    *ngIf="selectedLang =='en'">{{dataList.fname_en}} {{dataList.lname_en}}</span>
                                <span *ngIf="selectedLang =='ar'">
                                    {{dataList.fname_ar ? dataList.fname_ar:dataList.fname_en}}
                                    {{dataList.lname_ar ? dataList.lname_ar:dataList.lname_ar}}
                                </span>

                                <span><img src="../../../../assets/img/info.svg"></span></label>
                            {{ reviewData.instruction }}
                        </div>
                    </div>
                </div>
                <div class="serv-row">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.your_email" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            {{ reviewData.email }}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"common_model.private_video" | translate}}</label>
                            {{ reviewData.isPublic | yesNo }}
                        </div>
                    </div>
                </div>
                <div class="serv-row" *ngIf="frm.controls.sendToFriend.value == true">
                    <div class="form-item">
                        <div class="form-group">
                            <label class="main-lbl">{{"model_shoutout.friend_email" | translate}}<span><img
                                        src="../../../../assets/img/info.svg"></span></label>
                            {{ reviewData.friendEmail }}
                        </div>
                    </div>
                </div>

                <div class="pay-info">
                    <h2> {{"payment.heading" | translate}} </h2>
                    <p> {{"payment.description" | translate}} <span> <img src="../../../../assets/img/info.svg"> </span>
                    </p>

                    <div class="serv-row">
                        <div class="form-item">
                            <label class="main-lbl">To <span><img src="../../../../assets/img/info.svg"></span></label>
                            <div *ngIf="(fanDetail)">
                                <div
                                    *ngIf="(fanDetail.available_wallet_points) && fanDetail.available_wallet_points > 0">
                                    <div class="serv-row serv-row-adj points-row">
                                        <div class="form-item">
                                            <label>{{"common_model.available_point" | translate}}
                                                ${{ fanDetail.available_wallet_points }} </label>
                                        </div>
                                    </div>
                                    <input type="hidden" formControlName="available_wallet_points">
                                    <div class="serv-row serv-row-adj points-row-div">
                                        <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox"
                                            (change)="walletChecked()" formControlName="use_points">
                                        <label for="styled-checkbox-3">{{"common_model.use_wallet_msg" | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showCardDetail && cardCharges > 0">
                        <label for="pendingBalance"><span>Pending Balance: </span> $ {{ cardCharges }} </label>
                        <div *ngFor="let item of cardDetail; let i = index;">
                            <div class="form-item input-item-list">
                                <label class="item-row">
                                    <span class="radio-cell d-inline-flex position-relative">
                                        <input type="radio" (click)="existingCardClick()" formControlName="card"
                                            id="radio{{i}}" [value]=item.id class="position-absolute">
                                        <span
                                            class="icon d-inline-flex align-items-center justify-content-center rounded-circle">
                                            <span class="rounded-circle"></span>
                                        </span>
                                    </span>
                                    <span> {{ "**** **** "+ item.last4 || '?'}} </span>
                                </label>
                            </div>
                        </div>
                        <div class="form-item input-item-list" *ngIf="cardDetail.length > 0">
                            <label class="item-row">
                                <span class="radio-cell d-inline-flex position-relative">
                                    <input type="radio" (click)="newCardClick()" formControlName="newCard"
                                        class="position-absolute" for="new-card">
                                    <span
                                        class="icon d-inline-flex align-items-center justify-content-center rounded-circle">
                                        <span class="rounded-circle"></span>
                                    </span>
                                </span>
                                <span class="main-lbl mb-0" id="new-card">New Card</span>
                            </label>
                        </div>
                        <div *ngIf="newCard" class="payment-card-blc">
                            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                            </ngx-stripe-card>
                        </div>
                    </div>

                    <div class="pay-action">
                        <button type="button" (click)="back()">{{"buttons.back" | translate}}</button>&nbsp;
                        <button type="submit" (click)="save()">{{"buttons.make_payment" | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>