<div class="edit-profile-page-outer">
    <div class="">
        <div class="db-hdd-2">
            <h3>Change Passoword</h3>
        </div>
        <form #profileForm="ngForm">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="bx-shadow-white p-a-15">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="pro-lbl-one">Current Password*</label>
                                    <input type="password" class="form-control" [(ngModel)]="admin.currentpwd"
                                        placeholder="Enter Old Password" minlength="8" maxlength="20"
                                        #password="ngModel" name="password" autocomplete="current-password" required>
                                    <div *ngIf="password.errors" class="error-div">
                                        <div *ngIf="password.errors.required && password.touched"
                                            class="help-block requiredClass">
                                            Password is required.
                                        </div>
                                        <div *ngIf="password.errors?.minlength" class="help-block requiredClass">
                                            Password should contain at least 8 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="pro-lbl-one">New Passoword*</label>
                                    <input type="password" class="form-control" [(ngModel)]="admin.password"
                                        placeholder="Enter New Password" minlength="8" maxlength="20"
                                        #newpassword="ngModel" name="newpassword" required>
                                    <div *ngIf="newpassword.errors" class="error-div">
                                        <div *ngIf="newpassword.errors.required && newpassword.touched"
                                            class="help-block requiredClass">
                                            New Password is required.
                                        </div>
                                        <div *ngIf="newpassword.errors?.minlength" class="help-block requiredClass">
                                            New Password should contain at least 8 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="pro-lbl-one">Confirm New Passoword*</label>
                                    <input type="password" class="form-control" [(ngModel)]="admin.confirmPassword"
                                        placeholder="Confirm New Password" minlength="8" maxlength="20"
                                        #confirmpassword="ngModel" name="confirmpassword" required
                                        [pattern]="newpassword.value">
                                    <div *ngIf="confirmpassword.errors" class="error-div">
                                        <div *ngIf="confirmpassword.errors.required && confirmpassword.touched"
                                            class="help-block requiredClass">
                                            Confirm Password is required.
                                        </div>
                                        <div *ngIf="confirmpassword.touched && admin.confirmpassword != admin.newpassword"
                                            class="help-block requiredClass">
                                            Confirm Password should contain at least 8 characters.
                                        </div>
                                        <div *ngIf="confirmpassword.errors.pattern" class="help-block requiredClass">New
                                            Password & Confirm Password does not match.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 two-btn-group">
                                <button class="project-btn-1 project-btn-secondary-color">Cancel</button>
                                <button class="project-btn-1" [disabled]="profileForm.invalid"
                                    (click)="changePassword(profileForm)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>