<div class="search-result-main">
    <h2>Search Results for <span>'abadi'</span></h2>
    <div class="search-top">
        <div class="search-top-l">
            <h3>Top Result</h3>
            <div class="top-result">
                <div class="result-img">
                    <div class="celeb-img">
                        <img src="../../../assets/img/celeb-profile/abadialjohar/4.jpg">
                    </div>
                    <!-- <div class="celeb-mask">
                        <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                    </div> -->
                </div>
                <div class="celeb-name">
                    Abadi Al-Johar
                    <span>Musician, Singer</span>
                </div>
            </div>
        </div>
        <div class="search-top-r">
            <h3>Results related to Abadi Al-Johar</h3>
            <div class="related-result-main">
                    <div class="related-result">
                            <div class="related-item">
                                <div class="related-img">
                                    <div class="celeb-img">
                                        <img src="../../../assets/img/celebrities/bassel-khayat.JPG">
                                    </div>
                                    <div class="celeb-mask">
                                        <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                                    </div>
                                </div>
                                <div class="related-name">
                                    Bassel Khayat
                                    <span>Musician</span>
                                </div>
                            </div>
                            <div class="related-item">
                                    <div class="related-img">
                                        <div class="celeb-img">
                                            <img src="../../../assets/img/celebrities/bassel-khayat.JPG">
                                        </div>
                                        <div class="celeb-mask">
                                            <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                                        </div>
                                    </div>
                                    <div class="related-name">
                                        Bassel Khayat
                                        <span>Musician</span>
                                    </div>
                                </div>
                                <div class="related-item">
                                        <div class="related-img">
                                            <div class="celeb-img">
                                                <img src="../../../assets/img/celebrities/bassel-khayat.JPG">
                                            </div>
                                            <div class="celeb-mask">
                                                <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                                            </div>
                                        </div>
                                        <div class="related-name">
                                            Bassel Khayat
                                            <span>Musician</span>
                                        </div>
                                    </div>
                                    <div class="related-item">
                                            <div class="related-img">
                                                <div class="celeb-img">
                                                    <img src="../../../assets/img/celebrities/bassel-khayat.JPG">
                                                </div>
                                                <div class="celeb-mask">
                                                    <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                                                </div>
                                            </div>
                                            <div class="related-name">
                                                Bassel Khayat
                                                <span>Musician</span>
                                            </div>
                                        </div>
                                        <div class="related-item">
                                                <div class="related-img">
                                                    <div class="celeb-img">
                                                        <img src="../../../assets/img/celebrities/bassel-khayat.JPG">
                                                    </div>
                                                    <div class="celeb-mask">
                                                        <img src="../../../assets/img/celeb-profile/celeb-mask.png">
                                                    </div>
                                                </div>
                                                <div class="related-name">
                                                    Bassel Khayat
                                                    <span>Musician</span>
                                                </div>
                                            </div>
                        </div>
                <div class="related-tags">
                    <a href="">Musician</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-result-bottom">
    <h3>Results for <span>'abadi'</span></h3>
    <div class="related-tags">
        <a href="">Musician</a>
        <a href="">Singer</a>
    </div>
    <div class="search-listing">
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
        <div class="search-listing-item">
                <div class="celeb-img">
                        <img src="../../../assets/img/celebrities/layla-eskandar.JPG" alt="Layla Eskandar" title="Layla Eskandar">
                        <div class="celeb-actions">
                          <a href="" class="list-igt">
                            <img src="../../../assets/img/list-igt.svg">
                            $200
                          </a>
                          <a href="" class="list-shoutout">
                            <img src="../../../assets/img/list-shoutout.svg">
                            $200
                          </a>
                        </div>
                    </div>
                    <div class="celeb-details">
                      <div class="celeb-name">
                          Layla Eskandar
                        <span>Musician</span>
                      </div>
                      <div class="celeb-status">Online</div>
                    </div>
        </div>
    </div>
</div>
